<div class="card" style="width: 18rem;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <h6 class="card-title">{{product.category}}</h6>
      <p class="card-text"> {{product.description}}</p>
      <h6 class="card-title">{{product.price}}</h6>
      <button type="button" class="btn btn-warning" (click) = "onClickEdit()">Редактировать</button>
      <button type="button" class="btn btn-danger" (click) = "onClickRemove()">Удалить</button>
    </div>
</div>