<h2>Редактируйте продукт</h2>

<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Product name</label>
      <input type="text" [(ngModel)] = "name" name="name" class="form-control" id="formGroupExampleInput" placeholder="Product name" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Category</label>
      <input type="text" [(ngModel)] = "category" name="category" class="form-control" id="formGroupExampleInput2" placeholder="Category" />
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Price</label>
        <input type="number" [(ngModel)] = "price" name="price" class="form-control" id="formGroupExampleInput2" placeholder="Price" />
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Description</label>
        <input type="text" [(ngModel)] = "description" name="description" class="form-control" id="formGroupExampleInput2" placeholder="Description" />
    </div>
    <button type="button" class="btn btn-danger" (click) = "onClickEdit()">Save</button>
    <button type="button" class="btn btn-primary" (click) = "onClickCancel()">Cancel</button>
</form>

